body {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  font-family: Archer, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 28rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 18rem;
}

.card:hover {
  transform: translateY(-0.25rem);
}

.cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.content {
  background-color: #c41e5b;
  height: 100%;
  padding: 1.25rem;
  text-align: center;
  width: 100%;
}

.content h3 {
  color: #fff;
  font-size: 1.75em;
  margin: 0;
}

.content p {
  font-size: 1em;
  margin: 0.75rem 0 0;
  max-height: 6.25rem;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.image {
  height: 20rem;
  margin: 0;
  width: 100%;
}

.image img {
  overflow: hidden;
  width: 18rem;
}